
/* ABOUT US */
.heading {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px #457b9d solid;
    margin-bottom: 50px;
}
.heading h6 {
    padding: 20px;
}




/* MEDIA QUERIES */
@media (max-width: 762px){
    .part-2 img{
        display: none;
    }
}


label.error{
    font-weight: 700;
    display: block;
    color: #f00;
    font-size: 14px;    
}